/* ==== TÍTULO ==== */

.titulo-contato {
  text-align: center;
  margin: 55px 0 30px 0;
}

.titulo-contato h1 {
  font-size: 36px;
  font-weight: 700;
  color: var(--cor-primaria);
}

.titulo-contato p {
  font-size: 15px;
  margin-top: 5px;
  color: #444;
}

/* ==== CONTEÚDO PRINCIPAL ==== */

.container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

/* ==== FORMULÁRIO ==== */

.card-contatos {
  background: #fafafa;
  border-radius: 16px;
  padding: 25px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
}

.formulario {
  width: 55%;
}

.formulario h2 {
  font-size: 20px;
  margin-bottom: 20px;
  color: var(--cor-primaria);
}

.formulario label {
  font-size: 14px;
  display: block;
  margin: 10px 0 5px;
  color: var(--cor-primaria);
}

.formulario input,
.formulario textarea {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 2px solid #d3d3d3;
  outline: none;
  font-size: 14px;
  background: #eef2ef;
}

.formulario input:focus,
.formulario textarea:focus {
  border-color: var(--cor-primaria);
}

.formulario textarea {
  height: 150px;
  resize: none;
}

.btn-enviar {
  width: 100%;
  margin-top: 15px;
  padding: 12px;
  background-color: var(--cor-primaria);
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-enviar:hover {
  background-color: #024a32;
}

/* ==== BLOCO DE INFORMAÇÕES ==== */

.infos {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bloco-info h2,
.perguntas h2 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #003522;
}

.bloco-info h3 {
  margin-top: 20px;
  font-size: 15px;
  color: #003522;
}

.socialCont-icons {
  display: flex;
  gap: 15px;
  margin-top: 10px;
  font-size: 24px;
}

/* ==== PERGUNTAS ==== */

details {
  margin-bottom: 12px;
  background: #fff;
  border-radius: 10px;
  padding: 12px 18px;
  cursor: pointer;
  border: 2px solid #e1e1e1;
}

summary {
  font-weight: 500;
  color: #003522;
}

details p {
  margin-top: 10px;
  color: #444;
}
