.footer {
  background: #101820;
  width: 100%;
  padding: 50px 30px 25px;
  color: var(--cor-secundaria);
}

.footer-containerr {
  max-width: 1300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1.4fr 1fr 1fr 1fr;
  gap: 60px;
}

.footer-logo {
  width: 120px;
  margin-bottom: 15px;
}

.footer-brand p {
  margin-bottom: 1rem;
  font-size: 14px;
  color: var(--cor-secundaria);
}

.social-icons a {
  font-size: 22px;
  margin-right: 12px;
  color: var(--cor-secundaria);
}
.social-icons a:hover {
  color: var(--cor-secundaria);
  opacity: 0.7;
}

.footer-coll h3 {
  font-size: 18px;
  margin-bottom: 15px;
  color: var(--cor-secundaria);
  font-weight: 600;
}

.footer-coll a {
  display: block;
  color: var(--cor-secundaria);
  margin-bottom: 8px;
  font-size: 14px;
  text-decoration: none;
}
.footer-coll a:hover {
  text-decoration: underline;
}

.footer-coll p {
  font-size: 14px;
  margin-bottom: 8px;
  color: var(--cor-secundaria);
}

.footer-bottom {
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid var(--cor-secundaria);
  text-align: center;
  font-size: 14px;
}

@media (max-width: 900px) {
  .footer-container {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}

@media (max-width: 600px) {
  .footer-containerr {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .social-icons {
    display: flex;
    justify-content: center;
    gap: 12px;
  }

  .social-icons a {
    margin: 0 10px;
  }
}
