@font-face {
  font-family: Allroundgothic;
  src: url("../fonts/All-Round-Gothic/Allroundgothic-medium.otf");
}

@font-face {
  font-family: Nohemi;
  src: url("../fonts/Nohemi-Font/Nohemi-Regular-BF6438cc4d0e493.ttf");
}

html,
body {
  height: 100%;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding-top: 90px;
  font-family: Nohemi;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  scroll-behavior: smooth;
}

main {
  flex: 1;
}

@media (max-width: 769px) {
  body {
    padding-top: 0;
  }

  .footer-containerr {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .social-icons {
    display: flex;
    justify-content: center;
    gap: 12px;
  }

  .social-icons a {
    margin: 0 10px;
  }
}
