header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background: var(--cor-primaria);
  color: var(--cor-secundaria);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  transition: 0.4s;
  border-bottom: 1px solid transparent;
}

.header-container {
  max-width: 1300px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  gap: 2rem;
}

.nav a {
  color: var(--cor-secundaria);
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
  position: relative;
}

.nav a:hover,
.nav a.active {
  color: var(--cor-acento);
}

.nav a.active {
  color: var(--cor-acento);
  font-weight: 600;
}

.menu-btn {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.menu-btn span {
  display: block;
  width: 28px;
  height: 3px;
  background: var(--cor-secundaria);
  margin: 6px 0;
  transition: 0.3s;
}

.btn-primary {
  background-color: var(--cor-acento) !important;
  border-color: var(--cor-acento) !important;
}

.btn-primary:hover {
  opacity: 0.75 !important;
}

.fa-cart-shopping {
  color: var(--cor-primaria);
}

@media (max-width: 1100px) {
  header {
    padding: 1rem;
  }

  .nav {
    position: fixed;
    top: 70px;
    right: -100%;
    background: var(--cor-primaria);
    width: 70%;
    height: 100vh;
    flex-direction: column;
    padding: 2rem;
    gap: 1.5rem;
    transition: 0.4s;
    z-index: 9;
  }

  .nav.active {
    right: 0;
  }

  .menu-btn {
    display: block;
  }
}
