.paragrafo1 {
  padding: 80px 60px;
  display: flex;
}

.paragrafo1 h1 {
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 10px;
  color: #0b2f22;
}

.paragrafo1 p {
  font-size: 16px;
  margin-bottom: 20px;
  color: #3d4b42;
}

.cotoes {
  display: flex;
  gap: 15px;
  margin-bottom: 40px;
}

.btn-beje,
.btn-verde {
  padding: 12px 25px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  border: none;
}

.btn-beje {
  background: transparent;
  border: 2px solid var(--cor-primaria);
}

.btn-beje:hover {
  background: #0b2f22;
  color: #fff;
}

.btn-verde {
  background: #c6d955;
}

.btn-verde:hover {
  background: #b4c74a;
}
.Grup-persona {
  position: relative;
  right: 30px;
  bottom: 40px;
  
}

.Grup-persona img {
  width: 500px;
  margin-left: 30px;
}

/* ======= PRODUTOS / CARDS ======= */
.produtos {
  text-align: center;
  padding: 40px 30px;
}

.produtos h2 {
  font-size: 48px;
  margin-bottom: 20px;
  color: var(--cor-primaria);
}
.produtos p {
  color: var(--cor-secundaroa);
}

.cards {
  display: flex;
  gap: 25px;
  justify-content: center;
  flex-wrap: wrap;

}

.card {
  background: var(--cor-primaria);
  width: 260px;
  border-radius: 14px;
  padding: 15px;
  color: var(--cor-primaria);
  text-align: left;
}

.card img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 10px;
  background: #ddd;
  margin-bottom: 10px;
}

.card h3 {
  margin-bottom: 5px;
}

.card p {
  font-size: 14px;
  opacity: 0.9;
}
.botao_cardp{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: -70px;
}
.bot{
  padding: 12px 50px;
  border-radius: 30px;
  font-size: 15px;
  background:  var(--cor-acento);
  cursor: pointer;
  margin-left:150px;
  margin-bottom: 1px;
  
}
.img4 {
  position: relative;
  top: 4px;
  right: 20px;   
  bottom: 1px;    
}

.person {
  width: 150px;
  margin-left: 220%;
  margin-top: 20px;
}

/* ======= HISTÓRIA ======= */
.historia {
  display: flex;
  background: #0b2f22;
  padding: 60px 50px;
  color: #ffedd3;
  
  
}

.historia h2 {
  font-size: 48px;
  margin-bottom: 15px;
  
}

.historia p {
  max-width: 600px;
  margin-bottom: 12px;
  color: var(--cor-secundaroa);
 font-size: 20px;
}
.Group img{
width: 590px;
margin-left: 10%;

}


/* ======= SOBRE NÓS ======= */
.sobre-nos{
  text-align: center;
  padding: 40px 20px;
}

.sobre-nos h2 {
  font-size: 48px;
  color: var(--cor-primaria);
  }

.sobre-nos p {
  font-size: 15px;
  opacity: 0.7;
}
.cards-container {
  display: flex;
  gap: 20px;
  }
  .card-comentario {
  background: #fff;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
  transition: transform .2s ease;
  }
  .card-comentario:hover {
  transform: translateY(-5px);
}

.comentario-texto {
  font-size: 16px;
  color: #444;
  margin-bottom: 20px;
  line-height: 1.6;
  font-style: italic;
}

.autor {
  display: flex;
  align-items: center;
  gap: 15px;
}

.autor img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
}

.autor h4 {
  margin: 0;
  font-size: 18px;
  color: #5a3e2b;
  font-weight: bold;
}

.autor span {
  font-size: 14px;
  color: #777;
}

/* ======= CONTATO / MAPA ======= */
.Contato {
  display: flex;
  background: var(--cor-primaria);
  padding: 30px 50px;
  color: #fff;
}

 .venha {
  font-size: 38px;
  margin-bottom: 20px;
  text-align:  left;
  color:#ffedd3; ;
  
}

.Contato h3 {
  margin-top: 15px;
  margin-bottom: 5px;
  color: #c6d955;
}
.Contato p {
 
  color: #ffedd3;;
}
 .icons_visita {
  display: flex;
  align-items: center;
  gap: 12px;
}

.icons_visita img {
  width: 26px;
  height: 26px;
}
iframe {
  margin-top: 20px;
  border-radius: 12px;
  height: 350px 100px;
  margin-left: 70%;
}