
.hero {
    text-align: center;
    margin: 40px 0;
    padding: 0 20px;
}

.hero h1 {
    font-size: 48px;
    font-weight: 800;
    color: var(--cor-primaria);
    line-height: 1.1;
    display: flex;
    flex-direction: column; 
}

.hero h1 span {
    display: block;
}

.hero .subtext {
    margin-top: 12px;
    font-size: 18px;
    color: var(--cor-primaria);
}

.cards-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    padding: 40px 20px;
}

.card {
    position: relative;
    width: 350px;
    height: 400px;
    border-radius: 25px;
    overflow: hidden;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.03);
}

.card img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.card::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(20, 18, 18, 0.45);
    z-index: 2;
}

.card-content {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color:  #f5d7b0;
    z-index: 3;
}

.icon {
    font-size: 26px;
    margin-bottom: 10px;
}

.card-content h3 {
    font-size: 26px;
    font-weight: 700;
}

.card-content p {
    font-size: 16px;
    opacity: 0.9;
    color: #f5d7b0;
}

.btn-whatsapp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--cor-segundaria);
    color: var(--cor-primaria);
    padding: 12px 18px;
    border-radius: 12px;
    text-decoration: none;
    margin-top: 20px;
    font-weight: 600;
}

.btn-whatsapp .arrow {
    font-size: 20px;
}

.pedido-container {
    background: #f3f3f3;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.08);
    max-width: 1080px;
    margin: auto;
    text-align: center;
}

.pedido-container h2 {
    font-size: 28px;
    color:var(--cor-primaria);
}

.pedido-container p {
    font-size: 15px;
    color: #6e857c;
    margin-bottom: 30px;
}

.pedido-cards {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.pedido-card {
    display: flex;
    align-items: center;
    padding: 18px 22px;
    width: 340px;
    background: #f5f7ef;
    border-radius: 16px;
    cursor: pointer;
    transition: 0.25s ease;
}

.pedido-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.pedido-card.ifood {
    background: #f3eaea;
}

.icon-box {
    width: 75px;
    height: 75px;
    border-radius: 14px;
    background: #c2d06b;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 18px;
}

.pedido-card.ifood .icon-box {
    background: #e34848;
}

.icon-box img {
    width: 50px;
    height: 50px;
}

.info h3 {
    font-size: 20px;
    color:var(--cor-primaria);
}

.info span {
    font-size: 14px;
    color: #677d72;
}

.arrow {
    margin-left: auto;
    font-size: 26px;
    color: var(--cor-primaria);
    transition: 0.25s;
}

.pedido-card:hover .arrow {
    transform: translateX(5px);
}

.info-section {
    background: var(--cor-primaria);
    padding: 60px 20px;
    margin-top: 3rem;
    text-align: center;
}

.info-cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.info-card {
    background: #F6EAD2;
    width: 300px;
    padding: 25px 20px;
    border-radius: 16px;
    text-align: center;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    transition: 0.3s ease;
}

.info-card:hover {
    transform: translateY(-5px);
}

.info-icon {
    width: 70px;
    height: 70px;
    background: var(--cor-segundaria);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 15px;
}

.info-icon i {
    font-size: 32px;
    color: var(--cor-primaria);
}

.info-card h3 {
    font-size: 20px;
    color: var(--cor-primaria);
}

.info-card p {
    color: #4d5b52;
    font-size: 14px;
}

.prep-time {
    margin-top: 35px;
    color: #D7E3DC;
    font-size: 14px;
}
