body {
  background-color: var(--cor-secundaria);
  color: #333;
}

/* -------------------------
     SEÇÃO SOBRE
  --------------------------*/
section.Sobre {
  padding: 60px 80px;
  background-color: var(--cor-secundaria);
}

.cards1 {
  max-width: 900px;
  margin: auto;
}

.cards1 h1 {
  color: var(--cor-primaria);
  font-size: 28px;
  margin: 30px 0 10px 0;
}

.cards1 p {
  font-size: 16px;
  margin-bottom: 15px;
  line-height: 1.6;
}

.Nossahistoria,
.nossaMissao {
  width: 100%;
  height: 250px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.Nossahistoria {
  background-image: url(../img/maquina\ de\ cafe.png);
}

.nossaMissao {
  background-image: url(../img/barista.png);
}

/* -------------------------
     SEÇÃO VALORES
  --------------------------*/
section.Valores {
  background-color: var(--cor-primaria);
  padding: 60px 80px;
  text-align: center;
  color: #fff;
}

section.Valores h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

section.Valores p {
  font-size: 18px;
  margin-bottom: 40px;
}

section.Valores > div {
  display: flex;
  justify-content: center;
  gap: 30px;
}

section.Valores > div > div {
  background-color: var(--cor-secundaria);
  color: #333;
  width: 250px;
  padding: 25px;
  border-radius: 12px;
}

section.Valores > div > div h1 {
  font-size: 22px;
  color: var(--cor-primaria);
  margin-bottom: 10px;
}

section.Valores > div > div p {
  font-size: 15px;
}

/* -------------------------
     SEÇÃO EQUIPE
  --------------------------*/
section.Equipe {
  padding: 60px 80px;
  text-align: center;
  background-color: var(--cor-secundaria);
}

section.Equipe h1 {
  color: var(--cor-primaria);
  font-size: 32px;
  margin-bottom: 10px;
}

section.Equipe p {
  font-size: 18px;
  margin-bottom: 15px;
}
