
section.Sobre {
  padding: 60px 80px;
  background-color: var(--cor-secundaria);
}

.cards1 {
  max-width: 900px;
  margin: auto;
  text-align: center;
}

.cards1 h1 {
  color: var(--cor-primaria);
  font-size: 36px;
  font-weight: 800;
  
}

.Nossahistoria {
 display: flex;
 gap: 40px;
 margin-top: 20px;
}

.tituloHistoria {
  margin-top: 1.6rem;
}

.Nossahistoria p {
 flex: 1;
 line-height: 1.6;
 font-size: 16px;
}

.nossaMissao {
  display: flex;
  gap: 40px;
  margin-top: 20px;
  text-align: center;
  max-width: 900px;
  margin: auto;
 }
 
 .nossaMissao p {
  flex: 1;
  line-height: 1.6;
  font-size: 16px;
  margin-top: 1.0rem;
 }

 .subTitulo {
  font-size: 18px;
  color: var(--cor-primaria);
  margin-bottom: 40px;
  opacity: 55%;
  margin-top: 0.6rem;
 }

.tituloMissao {
  margin-top: 1.6rem;
}

.Jornada {
   font-size: 18px;
  color: var(--cor-primaria);
  margin-bottom: 40px;
  opacity: 50%;
}

section.Valores {
  background-color: var(--cor-primaria);
  padding: 60px 80px;
  text-align: center;
  color: #fff;
  
}

section.Valores p {
  font-size: 18px;
  margin-bottom: 40px;
}

section.Valores > div {
  display: flex;
  justify-content: center;
  gap: 30px;
}

section.Valores > div > div {
  background-color: var(--cor-secundaria);
  color: #333;
  width: 250px;
  padding: 25px;
  border-radius: 12px;
}

section.Valores > div > div h1 {
  font-size: 22px;
  color: var(--cor-primaria);
  margin-bottom: 10px;
}

.pilares {
  color: var(--cor-secundaria);
}

.pilares2 {
  font-size: 18px;
  color: var(--cor-secundaria);
  margin-bottom: 40px;
  opacity: 75%;
  margin-top: 0.4rem;
}

section.Equipe {
  padding: 60px 80px;
  text-align: center;
  background-color: var(--cor-secundaria); 
  margin-bottom: 1.5rem;
}

.cardValores {
  width: 400px;
}

.paixao {
  margin-top: 1.0rem;
  
}
.qualidade {
  margin-top: 1.0rem;
}
.comunidade {
  margin-top: 1.8rem;
}
.paixao2 {
  text-align: center;
  margin-top: 1.9rem;
}
.qualidade2 {
  text-align: center;
}
.comunidade2 {
  margin-top: 1.2rem;
  text-align: center;
}