.sobre {
  margin-top: 90px;
}

.sobre-container {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.sobre-container img {
  width: 100%;
  margin: 20px 0;
}

.sobre-container h1 {
  color: var(--cor-primaria);
}

.sobre-container .sobre-container h1 {
  color: var(--cor-primaria);
  font-size: 36px;
  font-weight: 800;
}

.jornada {
  font-size: 18px;
  color: var(--cor-primaria);
  margin: 0.6rem 0 40px;
  opacity: 0.5;
}

.titulo-historia {
  margin-top: 1.6rem;
  color: var(--cor-primaria);
}

.nossa-historia {
  display: flex;
  gap: 40px;
  margin-top: 20px;
}

.nossa-historia p {
  flex: 1;
  line-height: 1.6;
  font-size: 16px;
}

.valores {
  background-color: var(--cor-primaria);
  width: 100vw;
  padding: 60px 80px;
  text-align: center;
  color: var(--cor-secundaria);
  margin-top: 2rem;
}

.pilares {
  color: var(--cor-secundaria);
  font-size: 32px;
}

.pilares-sub {
  font-size: 18px;
  margin: 0.4rem 0 40px;
  opacity: 0.75;
}

.valores-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.card-valores {
  background-color: var(--cor-secundaria);
  color: var(--cor-primaria);
  width: 250px;
  padding: 25px;
  border-radius: 12px;
}

.card-valores i {
  margin-bottom: 12px;
  color: var(--cor-primaria);
}

.card-valores h3 {
  font-size: 22px;
  color: var(--cor-primaria);
  margin: 12px 0 10px;
}

.card-valores p {
  font-size: 16px;
  line-height: 1.5;
}

.equipe {
  padding: 60px 80px;
  text-align: center;
  background-color: var(--cor-secundaria);
}

.subtitulo {
  font-size: 18px;
  color: var(--cor-primaria);
  margin: 0.6rem 0 40px;
  opacity: 0.55;
}

.baristas {
  max-width: 100%;
  margin-bottom: 40px;
}

.titulo-missao {
  margin-top: 1.6rem;
  color: var(--cor-primaria);
}

.nossa-missao {
  display: flex;
  gap: 40px;
  margin: 20px auto 0;
  max-width: 900px;
}

.nossa-missao p {
  flex: 1;
  font-size: 16px;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .sobre-container h1 {
    font-size: 28px;
  }

  .jornada {
    font-size: 16px;
    margin-bottom: 30px;
  }

  .nossa-historia {
    flex-direction: column;
    gap: 20px;
  }

  .nossa-historia p {
    font-size: 15px;
  }

  .valores {
    padding: 40px 20px;
  }

  .pilares {
    font-size: 26px;
  }

  .pilares-sub {
    font-size: 16px;
    margin-bottom: 30px;
  }

  .valores-cards {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .card-valores {
    width: 100%;
    max-width: 320px;
    padding: 20px;
  }

  .equipe {
    padding: 40px 20px;
  }

  .subtitulo {
    font-size: 16px;
    margin-bottom: 30px;
  }

  .baristas {
    width: 100%;
    height: auto;
  }

  .nossa-missao {
    flex-direction: column;
    gap: 20px;
  }

  .nossa-missao p {
    font-size: 15px;
    text-align: left;
  }
}
