@import url(global.css);
@import url(variaveis.css);
@import url(cardapio.css);
@import url(header.css);
@import url(home.css);
@import url(sobre.css);
@import url(footer.css);
@import url(pedido.css);
@import url(contatos.css);
@import url(carrinho.css);
